.form-container__input {
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 0;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    outline: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000;
}

.form-container__input:focus {
    font-weight: bold;
    color: blue;
}

.form-container__input:nth-last-of-type(1) {
    margin: 30px 0 0 0;
}