.card__like {
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: 38px;
    right: 20px;
    cursor: pointer;
    background-image: url('../../../images/like.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    outline: 0;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.card__like:hover {
    opacity: 0.5;
}